-- assign_leads_atomic.sql
-- Creates an atomic Supabase RPC function that assigns the newest eligible leads
-- to an agent while respecting market/state filters and excluding Plus Leads.

create or replace function assign_leads_atomic(
  p_agent_email text,
  p_markets text[],
  p_states text[],
  p_needed int
)
returns setof bigint
language plpgsql
as $$
declare
  v_current_callable int;
  v_max_to_assign int;
begin
  -- CRITICAL: Count current callable leads FIRST (hotleads OR pending resolution)
  -- Hotleads: is_hot_lead = TRUE
  -- Regular leads: cnresolution = 'pending'
  select count(*) into v_current_callable
  from masterlead m
  where m.cn_email = p_agent_email
    and m.dnc = false
    and not (m.taalk_market in ('Plus Lead', 'Plus Leads', 'plus lead', 'plus leads'))
    and (
      m.is_hot_lead = true
      or m.cnresolution = 'pending'
    );

  -- If agent already has 150+ callable leads, return empty (don't assign more)
  if v_current_callable >= 150 then
    return;
  end if;

  -- Calculate max leads we can assign (up to 150 total)
  v_max_to_assign := least(p_needed, 150 - v_current_callable);

  -- If nothing to assign, return empty
  if v_max_to_assign <= 0 then
    return;
  end if;

  -- Now assign only up to the limit
  return query
  with candidates as (
    select m.id
    from masterlead m
    where
      m.cn_email is null
      and m.dnc = false
      and not (m.taalk_market in ('Plus Lead', 'Plus Leads', 'plus lead', 'plus leads'))
      and (
        m.is_hot_lead = true
        or m.cnresolution = 'pending'
      )
    order by
      m.created_at desc nulls last,
      m.id desc
    for update skip locked
    limit v_max_to_assign
  )
  update masterlead m
  set
    cn_email           = p_agent_email,
    assigned_date      = now(),
    cnresolution       = coalesce(m.cnresolution, 'pending'),
    previous_cn_email  = p_agent_email,
    last_assigned_date = now()
  from candidates c
  where m.id = c.id
  returning m.id;
end;
$$;
